<div class="alert alert-block alert-warning">
Planning - <font color='red'><b>Acquisition</b></font> - Preparation - Exploratory Analysis - Modeling - Product Delivery
</div>

# Acquisition Exercises
The end product of these exercise is a jupyter notebook (classification_exercises.ipynb) and a acquire.py file. The notebook will contain all your work as you move through the exercises. The acquire.py file should contain the final functions that acquire the data into a pandas dataframe.

### 1. Make a new repo called ```classification-exercises``` on both GitHub and within your ```codeup-data-science``` directory. This will be where you do your work for this module.

### 2. Inside of your local ```classification-exercises``` repo, create a file named ```.gitignore``` with the following contents:

```
env.py
.DS_Store
.ipynb_checkpoints/
__pycache__
*.csv
```

Add and commit your ```.gitignore``` file before moving forward.

### 3. Now that you are 100% sure that your ```.gitignore``` file lists ```env.py```, create or copy your ```env.py``` file inside of ```classification-exercises```. Running ```git status``` should show that git is ignoring this file.

### 4. In a jupyter notebook, ```classification_exercises.ipynb```, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, ```df_iris```, from this data.

In [1]:
import pandas as pd
import numpy as np
import os
from pydataset import data

import seaborn as sns
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'

from env import get_db_url
import QMCBT_acquire as acquire
#import QMCBT_prepare as prepare
import QMCBT_explore as explore

# import splitting functions
from sklearn.model_selection import train_test_split

# data('mpg', show_doc=True) # view the documentation for the dataset

**CUSTOM EXPLORATION FUNCTIONS
nunique_column_all(df): PRINT NUNIQUE OF ALL COLUMNS
nunique_column_objects(df): PRINT NUNIQUE OF COLUMNS THAT ARE OBJECTS
nunique_column_qty(df): PRINT NUNIQUE OF COLUMNS THAT ARE *NOT* OBJECTS
numeric_range(df): COMPUTE RANGE FOR ALL NUMERIC VARIABLES

**USEFUL EXPLORATORY CODE**
DFNAME.head()
DFNAME.shape
DFNAME.shape[0] #read row count
DFNAME.describe().T
DFNAME.columns.to_list()
DFNAME.COLUMNNAME.value_counts(dropna=False)
DFNAME.dtypes
DFNAME.select_dtypes(include='object').columns
DFNAME.select_dtypes(include='float').columns
pd.crosstab(DFNAME.COLUMN-1, DFNAME.COLUMN-2)

### 4.1 print the first 3 rows

In [2]:
df_iris = data('iris')
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

### 4.2 print the number of rows and columns (shape)

In [3]:
df_iris.shape

(150, 5)

### 4.3 print the column names

In [4]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

### 4.4 print the data type of each column

In [5]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

### 4.5 print the summary statistics for each of the numeric variables

In [6]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 5. Read the data from this google sheet (https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing) into a dataframe, ```df_google```.

In [7]:
# Had to follow link then copy address to get 'edit#gid' for my formula as opposed to 'edit?' in the link
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [8]:
df_google = pd.read_csv(csv_export_url)

### 5.1 print the first 3 rows

In [9]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### 5.2 print the number of rows and columns

In [10]:
df_google.shape

(891, 12)

### 5.3 print the column names

In [11]:
df_google.columns.to_list()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

### 5.4 print the data type of each column

In [12]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 5.5 print the summary statistics for each of the numeric variables

In [13]:
df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

### 5.6 print the unique values for each of your categorical variables

In [14]:
for col in df_google.columns:
#     print(col)
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

Name has 891 unique values.
Sex has 2 unique values.
Ticket has 681 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

In [15]:
def nunique_column_objects(df):
    print("empty")
nunique_column_objects(df_google)

empty

In [16]:
explore.nunique_column_objects(df_google)

Name has 891 unique values.
Sex has 2 unique values.
Ticket has 681 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

In [17]:
df_google.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [18]:
for col in df_google.columns:
#     print(col)
    if df_google[col].dtypes != 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

PassengerId has 891 unique values.
Survived has 2 unique values.
Pclass has 3 unique values.
Age has 88 unique values.
SibSp has 7 unique values.
Parch has 7 unique values.
Fare has 248 unique values.

In [19]:
def nunique_column_qty(df):
    print("empty")
nunique_column_qty(df_google)

empty

In [20]:
explore.nunique_column_qty(df_google)

PassengerId has 891 unique values.
Survived has 2 unique values.
Pclass has 3 unique values.
Age has 88 unique values.
SibSp has 7 unique values.
Parch has 7 unique values.
Fare has 248 unique values.

In [21]:
df_google.Survived.value_counts(dropna=False)

0    549
1    342
Name: Survived, dtype: int64

In [22]:
df_google.Pclass.value_counts(dropna=False)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [23]:
df_google.SibSp.value_counts(dropna=False)

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [24]:
df_google.Parch.value_counts(dropna=False)

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

### 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named ```df_excel```.

In [25]:
df_excel = pd.read_excel('train.xlsx', sheet_name='train')

In [26]:
df_excel.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803.0,53.1000,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450.0,8.0500,NaN,S

In [27]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    float64
 1   Survived     891 non-null    float64
 2   Pclass       891 non-null    float64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    float64
 7   Parch        891 non-null    float64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(7), object(5)
memory usage: 83.7+ KB

### 6.1 assign the first 100 rows to a new dataframe, ```df_excel_sample```

In [28]:
df_excel_sample = df_excel.head(100)
df_excel_sample.shape

(100, 12)

### 6.2 print the number of rows of your original dataframe

In [29]:
df_excel.shape[0]

891

### 6.3 print the first 5 column names

In [30]:
df_excel.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

### 6.4 print the column names that have a data type of ```object```

In [31]:
df_excel.select_dtypes(include='object').columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [32]:
df_excel.dtypes

PassengerId    float64
Survived       float64
Pclass         float64
Name            object
Sex             object
Age            float64
SibSp          float64
Parch          float64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### 6.5 compute the range for each of the numeric variables.

In [33]:
def numeric_range(df):
    numeric_list = df.select_dtypes(include = 'float').columns.tolist()
    numeric_range = df[numeric_list].describe().T
    numeric_range['range'] = numeric_range['max'] - numeric_range['min']
    return numeric_range

In [34]:
numeric_range(df_excel)

,count,mean,std,min,25%,50%,75%,max,range
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000,890.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000,2.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000,79.5800
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292,512.3292

In [35]:
def numeric_range(df):
    print("empty")
numeric_range(df_excel)

empty

In [36]:
explore.numeric_range(df_excel)

,count,mean,std,min,25%,50%,75%,max,range
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000,890.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000,2.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000,79.5800
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292,512.3292

<div class="alert alert-block alert-warning">
Planning - <font color='red'><b>Acquisition</b></font> - Preparation - Exploratory Analysis - Modeling - Product Delivery
</div>

## Make a new python module, ```acquire.py``` to hold the following data aquisition functions:

### 1. Make a function named ```get_titanic_data``` that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the ```Codeup Data Science Database```.

In [37]:
def new_titanic_data():
    '''
    This function reads the titanic data from the Codeup database into a DataFrame.
    '''
    # Create SQL query.
    sql_query = 'SELECT * FROM passengers'
    
    # Read in DataFrame from Codeup database.
    df = pd.read_sql(sql_query, get_db_url('titanic_db'))
    
    return df

In [38]:
def get_titanic_data():
    '''
    This function reads in titanic data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a DataFrame.
    '''
    if os.path.isfile('titanic_df.csv'):
        
        # If csv file exists, read in data from csv file.
        df = pd.read_csv('titanic_df.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame.
        df = new_titanic_data()
        
        # Write DataFrame to a csv file.
        df.to_csv('titanic_df.csv')
        
    return df

In [39]:
titanic_df = get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

### 2. Make a function named ```get_iris_data``` that returns the data from the ```iris_db``` on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the ```species_ids```. Obtain your data from the ```Codeup Data Science Database```.

In [40]:
def new_iris_sql_df():
    '''
    This function reads the iris data from the Codeup database into a DataFrame.
    '''
    # Create SQL query.
    sql_query = 'SELECT species_id, species_name, sepal_length, sepal_width, petal_length, petal_width FROM measurements JOIN species USING(species_id)'
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_db_url('iris_db'))
    
    return df

In [41]:
def get_iris_sql_df():
    '''
    This function reads in iris data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a DataFrame.
    '''
    if os.path.isfile('iris_df.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('iris_df.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_iris_data()
        
        # Cache data
        df.to_csv('iris_df.csv')
        
    return df

In [42]:
iris_df = get_iris_sql_df()
print(iris_df.shape)
iris_df.head()

(150, 6)

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [43]:
def new_iris_sns_df():
    '''
    This function reads the iris data from the seaborn database into a DataFrame.
    '''
    import seaborn as sns
    
    # Read in DataFrame from pydata db.
    df = sns.load_dataset('iris')
    
    return df

In [44]:
def get_iris_sns_df():
    '''
    This function reads in iris data from seaborn database, writes data to
    a csv file if a local file does not exist, and returns a DataFrame.
    '''
    if os.path.isfile('iris_sns_df.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('iris_sns_df.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_iris_sns_df()
        
        # Cache data
        df.to_csv('iris_sns_df.csv')
        
    return df

In [45]:
iris_sns_df = get_iris_sns_df()
print(iris_sns_df.shape)
iris_sns_df.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### 3. Make a function named ```get_telco_data``` that returns the data from the ```telco_churn``` database in SQL. In your SQL, be sure to join ```contract_types```, ```internet_service_types```, ```payment_types``` tables with the ```customers``` table, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the ```Codeup Data Science Database```.

In [46]:
def new_telco_churn_df():
    '''
    This function reads the telco_churn (NOT telco_normalized) data from the Codeup database into a DataFrame.
    '''
    # Create SQL query.
    sql_query = 'SELECT * FROM customers LEFT JOIN internet_service_types USING (internet_service_type_id) LEFT JOIN contract_types USING (contract_type_id) LEFT JOIN payment_types USING (payment_type_id);'
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_db_url('telco_churn'))
    
    return df

In [47]:
def get_telco_churn_df():
    '''
    This function reads in telco_churn (NOT telco_normalized) data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a DataFrame.
    '''
    if os.path.isfile('telco_churn_df.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('telco_churn_df.csv', index_col=0)
        
    else:
        
        # Read fresh data from telco db into a DataFrame
        df = new_telco_df()
        
        # Cache data
        df.to_csv('telco_churn_df.csv')
        
    return df

In [48]:
telco_churn_df = get_telco_churn_df()
print(telco_churn_df.shape)
telco_churn_df.head()

(7043, 24)

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

### 4. Once you've got your ```get_titanic_data```, ```get_iris_data```, and ```get_telco_data``` functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of ```telco.csv```, ```titanic.csv```, or ```iris.csv```. If they exist, use the ```.csv``` file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a ```.csv``` file with the appropriate name.

#### **Make sure your env.py and csv files are not being pushed to GitHub!**

<div class="alert alert-block alert-warning">
Planning - Acquisition - <font color='red'><b>Preparation</b></font> - Exploratory Analysis - Modeling - Product Delivery
</div>

# Preparation Exercises
The end product of this exercise should be the specified functions in a python script named ```prepare.py```. Do these in your ```classification_exercises.ipynb``` first, then transfer to the ```prepare.py``` file.

This work should all be saved in your local ```classification-exercises``` repo. Then ```add```, ```commit```, and ```push``` your changes.

## Using the ```Iris``` Data:

### 1. Use the function defined in ```acquire.py``` to load the ```iris``` data.

In [49]:
def get_iris_sql_df():
    print("empty")
get_iris_sql_df()

empty

In [50]:
iris_df = acquire.get_iris_sql_df()
print(iris_df.shape)
iris_df.head()

(150, 6)

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

### 2. Drop the ```species_id``` and ```measurement_id``` columns.

In [51]:
iris_df = iris_df.drop(columns='species_id')
iris_df.head()

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2

### 3. Rename the ```species_name``` column to just species.

In [52]:
iris_df = iris_df.rename(columns={'species_name': 'species'})
iris_df.head()

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2
3  setosa           4.6          3.1           1.5          0.2
4  setosa           5.0          3.6           1.4          0.2

### 4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [53]:
# drop_first=True drops the first bucket, then by default, if all other buckets are False, thyen first bucket is True
dummy_iris_df = pd.get_dummies(iris_df.species, drop_first=True)
dummy_iris_df.head()

   versicolor  virginica
0           0          0
1           0          0
2           0          0
3           0          0
4           0          0

In [54]:
iris_df = pd.concat([iris_df, dummy_iris_df], axis=1)
iris_df.head()

,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0

### 5. Create a function named ```prep_iris``` that accepts the untransformed ```iris``` data, and returns the data with the transformations above applied.

In [55]:
def prep_iris_df(iris_df):
    iris_df = iris_df.drop(columns='species_id')
    iris_df = iris_df.rename(columns={'species_name': 'species'})
    dummy_iris_df = pd.get_dummies(iris_df.species, drop_first=True)
    iris_df = pd.concat([iris_df, dummy_iris_df], axis=1)
    return iris_df

In [56]:
iris_df = acquire.get_iris_sql_df()
print(iris_df.shape)
iris_df.head()

(150, 6)

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [57]:
prep_iris_df(iris_df)

,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0
5,setosa,5.4,3.9,1.7,0.4,0,0
6,setosa,4.6,3.4,1.4,0.3,0,0
7,setosa,5.0,3.4,1.5,0.2,0,0
8,setosa,4.4,2.9,1.4,0.2,0,0
9,setosa,4.9,3.1,1.5,0.1,0,0
10,setosa,5.4,3.7,1.5,0.2,0,0
11,setosa,4.8,3.4,1.6,0.2,0,0
12,setosa,4.8,3.0,1.4,0.1,0,0
13,setosa,4.3,3.0,1.1,0.1,0,0
14,setosa,5.8,4.0,1.2,0.2,0,0
15,setosa,5.7,4.4,1.5,0.4,0,0
16,setosa,5.4,3.9,1.3,0.4,0,0
17,setosa,5.1,3.5,1.4,0.3,0,0
18,setosa,5.7,3.8,1.7,0.3,0,0
19,setosa,5.1,3.8,1.5,0.3,0,0
20,setosa,5.4,3.4,1.7,0.2,0,0
21,setosa,5.1,3.7,1.5,0.4,0,0
22,setosa,4.6,3.6,1.0,0.2,0,0
23,setosa,5.1,3.3,1.7,0.5,0,0
24,setosa,4.8,3.4,1.9,0.2,0,0
25,setosa,5.0,3.0,1.6,0.2,0,0
26,setosa,5.0,3.4,1.6,0.4,0,0
27,setosa,5.2,3.5,1.5,0.2,0,0
28,setosa,5.2,3.4,1.4,0.2,0,0
29,setosa,4.7,3.2,1.6,0.2,0,0
30,setosa,4.8,3.1,1.6,0.2,0,0
31,setosa,5.4,3.4,1.5,0.4,0,0
32,setosa,5.2,4.1,1.5,0.1,0,0
33,setosa,5.5,4.2,1.4,0.2,0,0
34,setosa,4.9,3.1,1.5,0.2,0,0
35,setosa,5.0,3.2,1.2,0.2,0,0
36,setosa,5.5,3.5,1.3,0.2,0,0
37,setosa,4.9,3.6,1.4,0.1,0,0
38,setosa,4.4,3.0,1.3,0.2,0,0
39,setosa,5.1,3.4,1.5,0.2,0,0
40,setosa,5.0,3.5,1.3,0.3,0,0
41,setosa,4.5,2.3,1.3,0.3,0,0
42,setosa,4.4,3.2,1.3,0.2,0,0
43,setosa,5.0,3.5,1.6,0.6,0,0
44,setosa,5.1,3.8,1.9,0.4,0,0
45,setosa,4.8,3.0,1.4,0.3,0,0
46,setosa,5.1,3.8,1.6,0.2,0,0
47,setosa,4.6,3.2,1.4,0.2,0,0
48,setosa,5.3,3.7,1.5,0.2,0,0
49,setosa,5.0,3.3,1.4,0.2,0,0
50,versicolor,7.0,3.2,4.7,1.4,1,0
51,versicolor,6.4,3.2,4.5,1.5,1,0
52,versicolor,6.9,3.1,4.9,1.5,1,0
53,versicolor,5.5,2.3,4.0,1.3,1,0
54,versicolor,6.5,2.8,4.6,1.5,1,0
55,versicolor,5.7,2.8,4.5,1.3,1,0
56,versicolor,6.3,3.3,4.7,1.6,1,0
57,versicolor,4.9,2.4,3.3,1.0,1,0
58,versicolor,6.6,2.9,4.6,1.3,1,0
59,versicolor,5.2,2.7,3.9,1.4,1,0
60,versicolor,5.0,2.0,3.5,1.0,1,0
61,versicolor,5.9,3.0,4.2,1.5,1,0
62,versicolor,6.0,2.2,4.0,1.0,1,0
63,versicolor,6.1,2.9,4.7,1.4,1,0
64,versicolor,5.6,2.9,3.6,1.3,1,0
65,versicolor,6.7,3.1,4.4,1.4,1,0
66,versicolor,5.6,3.0,4.5,1.5,1,0
67,versicolor,5.8,2.7,4.1,1.0,1,0
68,versicolor,6.2,2.2,4.5,1.5,1,0
69,versicolor,5.6,2.5,3.9,1.1,1,0
70,versicolor,5.9,3.2,4.8,1.8,1,0
71,versicolor,6.1,2.8,4.0,1.3,1,0
72,versicolor,6.3,2.5,4.9,1.5,1,0
73,versicolor,6.1,2.8,4.7,1.2,1,0
74,versicolor,6.4,2.9,4.3,1.3,1,0
75,versicolor,6.6,3.0,4.4,1.4,1,0
76,versicolor,6.8,2.8,4.8,1.4,1,0
77,versicolor,6.7,3.0,5.0,1.7,1,0
78,versicolor,6.0,2.9,4.5,1.5,1,0
79,versicolor,5.7,2.6,3.5,1.0,1,0
80,versicolor,5.5,2.4,3.8,1.1,1,0
81,versicolor,5.5,2.4,3.7,1.0,1,0
82,versicolor,5.8,2.7,3.9,1.2,1,0
83,versicolor,6.0,2.7,5.1,1.6,1,0
84,versicolor,5.4,3.0,4.5,1.5,1,0
85,versicolor,6.0,3.4,4.5,1.6,1,0
86,versicolor,6.7,3.1,4.7,1.5,1,0
87,versicolor,6.3,2.3,4.4,1.3,1,0
88,versicolor,5.6,3.0,4.1,1.3,1,0
89,versicolor,5.5,2.5,4.0,1.3,1,0
90,versicolor,5.5,2.6,4.4,1.2,1,0
91,versicolor,6.1,3.0,4.6,1.4,1,0
92,versicolor,5.8,2.6,4.0,1.2,1,0
93,versicolor,5.0,2.3,3.3,1.0,1,0
94,versicolor,5.6,2.7,4.2,1.3,1,0
95,versicolor,5.7,3.0,4.2,1.2,1,0
96,versicolor,5.7,2.9,4.2,1.3,1,0
97,versicolor,6.2,2.9,4.3,1.3,1,0
98,versicolor,5.1,2.5,3.0,1.1,1,0
99,versicolor,5.7,2.8,4.1,1.3,1,0
100,virginica,6.3,3.3,6.0,2.5,0,1
101,virginica,5.8,2.7,5.1,1.9,0,1
102,virginica,7.1,3.0,5.9,2.1,0,1
103,virginica,6.3,2.9,5.6,1.8,0,1
104,virginica,6.5,3.0,5.8,2.2,0,1
105,virginica,7.6,3.0,6.6,2.1,0,1
106,virginica,4.9,2.5,4.5,1.7,0,1
107,virginica,7.3,2.9,6.3,1.8,0,1
108,virginica,6.7,2.5,5.8,1.8,0,1
109,virginica,7.2,3.6,6.1,2.5,0,1
110,virginica,6.5,3.2,5.1,2.0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,1
112,virginica,6.8,3.0,5.5,2.1,0,1
113,virginica,5.7,2.5,5.0,2.0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,1
115,virginica,6.4,3.2,5.3,2.3,0,1
116,virginica,6.5,3.0,5.5,1.8,0,1
117,virginica,7.7,3.8,6.7,2.2,0,1
118,virginica,7.7,2.6,6.9,2.3,0,1
119,virginica,6.0,2.2,5.0,1.5,0,1
120,virginica,6.9,3.2,5.7,2.3,0,1
121,virginica,5.6,2.8,4.9,2.0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,1
124,virginica,6.7,3.3,5.7,2.1,0,1
125,virginica,7.2,3.2,6.0,1.8,0,1
126,virginica,6.2,2.8,4.8,1.8,0,1
127,virginica,6.1,3.0,4.9,1.8,0,1
128,virginica,6.4,2.8,5.6,2.1,0,1
129,virginica,7.2,3.0,5.8,1.6,0,1
130,virginica,7.4,2.8,6.1,1.9,0,1
131,virginica,7.9,3.8,6.4,2.0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,1
133,virginica,6.3,2.8,5.1,1.5,0,1
134,virginica,6.1,2.6,5.6,1.4,0,1
135,virginica,7.7,3.0,6.1,2.3,0,1
136,virginica,6.3,3.4,5.6,2.4,0,1
137,virginica,6.4,3.1,5.5,1.8,0,1
138,virginica,6.0,3.0,4.8,1.8,0,1
139,virginica,6.9,3.1,5.4,2.1,0,1
140,virginica,6.7,3.1,5.6,2.4,0,1
141,virginica,6.9,3.1,5.1,2.3,0,1
142,virginica,5.8,2.7,5.1,1.9,0,1
143,virginica,6.8,3.2,5.9,2.3,0,1
144,virginica,6.7,3.3,5.7,2.5,0,1
145,virginica,6.7,3.0,5.2,2.3,0,1
146,virginica,6.3,2.5,5.0,1.9,0,1
147,virginica,6.5,3.0,5.2,2.0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,1
149,virginica,5.9,3.0,5.1,1.8,0,1

## Using the ```Titanic``` dataset:

### 1. Use the function defined in ```acquire.py``` to load the Titanic data.

In [58]:
titanic_df = acquire.get_titanic_df()
print(titanic_df.shape)
titanic_df.head()

(891, 13)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [59]:
titanic_df.parch.value_counts(dropna=False)

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: parch, dtype: int64

In [60]:
titanic_df.deck.value_counts(dropna=False)

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

### 2. Drop any unnecessary, unhelpful, or duplicated columns.

In [61]:
titanic_df = titanic_df.drop(columns=['passenger_id', 'class', 'deck'])
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,embark_town,alone
0,0,3,male,22.0,1,0,7.2500,S,Southampton,0
1,1,1,female,38.0,1,0,71.2833,C,Cherbourg,0
2,1,3,female,26.0,0,0,7.9250,S,Southampton,1
3,1,1,female,35.0,1,0,53.1000,S,Southampton,0
4,0,3,male,35.0,0,0,8.0500,S,Southampton,1

### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [62]:
dummy_df = pd.get_dummies(data=titanic_df['sex'], drop_first=True)
dummy_df2 = pd.get_dummies(data=titanic_df['embark_town'], drop_first=False)
dummy_df.head(), dummy_df2.head()

(   male
 0     1
 1     0
 2     0
 3     0
 4     1,
    Cherbourg  Queenstown  Southampton
 0          0           0            1
 1          1           0            0
 2          0           0            1
 3          0           0            1
 4          0           0            1)

In [63]:
titanic = pd.concat([titanic_df, dummy_df, dummy_df2], axis=1)
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,embark_town,alone,male,Cherbourg,Queenstown,Southampton
0,0,3,male,22.0,1,0,7.2500,S,Southampton,0,1,0,0,1
1,1,1,female,38.0,1,0,71.2833,C,Cherbourg,0,0,1,0,0
2,1,3,female,26.0,0,0,7.9250,S,Southampton,1,0,0,0,1
3,1,1,female,35.0,1,0,53.1000,S,Southampton,0,0,0,0,1
4,0,3,male,35.0,0,0,8.0500,S,Southampton,1,1,0,0,1

### 4. Create a function named ```prep_titanic``` that accepts the raw titanic data, and returns the data with the transformations above applied.

In [64]:
titanic_df = acquire.get_titanic_df()
print(titanic_df.shape)
titanic_df.head()

(891, 13)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [65]:
def prep_titanic_df(titanic_df):
    titanic_df = titanic_df.drop(columns=['passenger_id', 'class', 'deck'])
    dummy_df = pd.get_dummies(data=titanic_df['sex'], drop_first=True)
    dummy_df2 = pd.get_dummies(data=titanic_df['embark_town'], drop_first=False)
    titanic_df = pd.concat([titanic_df, dummy_df, dummy_df2], axis=1)
    return titanic_df

In [66]:
prep_titanic_df(titanic_df)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,embark_town,alone,male,Cherbourg,Queenstown,Southampton
0,0,3,male,22.0,1,0,7.2500,S,Southampton,0,1,0,0,1
1,1,1,female,38.0,1,0,71.2833,C,Cherbourg,0,0,1,0,0
2,1,3,female,26.0,0,0,7.9250,S,Southampton,1,0,0,0,1
3,1,1,female,35.0,1,0,53.1000,S,Southampton,0,0,0,0,1
4,0,3,male,35.0,0,0,8.0500,S,Southampton,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Southampton,1,1,0,0,1
887,1,1,female,19.0,0,0,30.0000,S,Southampton,1,0,0,0,1
888,0,3,female,NaN,1,2,23.4500,S,Southampton,0,0,0,0,1
889,1,1,male,26.0,0,0,30.0000,C,Cherbourg,1,1,1,0,0
890,0,3,male,32.0,0,0,7.7500,Q,Queenstown,1,1,0,1,0

## Using the ```Telco``` dataset:

### 1. Use the function defined in ```acquire.py``` to load the ```Telco``` data.

In [67]:
telco_churn_df = acquire.get_telco_churn_df()
print(telco_churn_df.shape)
telco_churn_df.head()

(7043, 24)

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

### 2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [68]:
telco_churn_df = telco_churn_df.drop(columns=['payment_type_id', 'contract_type_id', 
                                              'internet_service_type_id', 'customer_id'])

In [69]:
telco_churn_df.head(8).T

,0,1,2,3,4,5,6,7
gender,Female,Male,Male,Male,Female,Female,Female,Male
senior_citizen,0,0,0,1,1,0,1,0
partner,Yes,No,No,Yes,Yes,No,Yes,Yes
dependents,Yes,No,No,No,No,Yes,No,No
tenure,9,9,4,13,3,9,71,63
phone_service,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,Yes,No,No,No,No,No,Yes
online_security,No,No,No,No,No,No,Yes,Yes
online_backup,Yes,No,No,Yes,No,No,Yes,No
device_protection,No,No,Yes,Yes,No,No,Yes,No
tech_support,Yes,No,No,No,Yes,Yes,Yes,Yes
streaming_tv,Yes,No,No,Yes,Yes,Yes,Yes,No
streaming_movies,No,Yes,No,Yes,No,Yes,Yes,No
paperless_billing,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes
monthly_charges,65.6,59.9,73.9,98.0,83.9,69.4,109.7,84.65
total_charges,593.3,542.4,280.85,1237.85,267.4,571.45,7904.25,5377.8
churn,No,No,Yes,Yes,Yes,No,No,No
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic,DSL,Fiber optic,Fiber optic
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Two year,Two year
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check,Credit card (automatic),Bank transfer (automatic),Credit card (automatic)

### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [70]:
encoded_df = pd.DataFrame()
encoded_df['male_encoded'] = telco_churn_df.gender.map({'Male': 1, 'Female': 0})
encoded_df['partner_encoded'] = telco_churn_df.partner.map({'Yes': 1, 'No': 0})
encoded_df['dependents_encoded'] = telco_churn_df.dependents.map({'Yes': 1, 'No': 0})
encoded_df['phone_service_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
encoded_df['multiple_lines_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
encoded_df['online_security_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
encoded_df['online_backup_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
encoded_df['device_protection_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
encoded_df['streaming_tv_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
encoded_df['streaming_movies_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
encoded_df['paperless_billing_encoded'] = telco_churn_df.paperless_billing.map({'Yes': 1, 'No': 0})
encoded_df['churn_encoded'] = telco_churn_df.churn.map({'Yes': 1, 'No': 0})
encoded_df['tech_support_encoded'] = telco_churn_df.churn.map({'Yes': 1, 'No': 0})

In [71]:
encoded_df.T

,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
male_encoded,0,1,1,1,0,0,0,1,0,0,...,1,1,0,0,0,0,1,1,1,1
partner_encoded,1,0,0,1,1,0,1,1,0,1,...,0,1,0,0,0,0,1,0,1,1
dependents_encoded,1,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,1
phone_service_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
multiple_lines_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
online_security_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
online_backup_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
device_protection_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
streaming_tv_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
streaming_movies_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
paperless_billing_encoded,1,0,1,1,1,1,1,1,1,1,...,0,1,1,1,0,0,1,1,0,0
churn_encoded,0,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0
tech_support_encoded,0,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0

In [72]:
encoded_cols = encoded_df.columns
print(encoded_cols)

Index(['male_encoded', 'partner_encoded', 'dependents_encoded',
       'phone_service_encoded', 'multiple_lines_encoded',
       'online_security_encoded', 'online_backup_encoded',
       'device_protection_encoded', 'streaming_tv_encoded',
       'streaming_movies_encoded', 'paperless_billing_encoded',
       'churn_encoded', 'tech_support_encoded'],
      dtype='object')

In [73]:
telco_churn_df.head().T

,0,1,2,3,4
gender,Female,Male,Male,Male,Female
senior_citizen,0,0,0,1,1
partner,Yes,No,No,Yes,Yes
dependents,Yes,No,No,No,No
tenure,9,9,4,13,3
phone_service,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,Yes,No,No,No
online_security,No,No,No,No,No
online_backup,Yes,No,No,Yes,No
device_protection,No,No,Yes,Yes,No
tech_support,Yes,No,No,No,Yes
streaming_tv,Yes,No,No,Yes,Yes
streaming_movies,No,Yes,No,Yes,No
paperless_billing,Yes,No,Yes,Yes,Yes
monthly_charges,65.6,59.9,73.9,98.0,83.9
total_charges,593.3,542.4,280.85,1237.85,267.4
churn,No,No,Yes,Yes,Yes
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check

In [74]:
dummy_df = pd.get_dummies(data=telco_churn_df[['internet_service_type', 'contract_type', 'payment_type']], drop_first=False)
dummy_df.head().T

                                        0  1  2  3  4
internet_service_type_DSL               1  1  0  0  0
internet_service_type_Fiber optic       0  0  1  1  1
internet_service_type_None              0  0  0  0  0
contract_type_Month-to-month            0  1  1  1  1
contract_type_One year                  1  0  0  0  0
contract_type_Two year                  0  0  0  0  0
payment_type_Bank transfer (automatic)  0  0  0  0  0
payment_type_Credit card (automatic)    0  0  0  0  0
payment_type_Electronic check           0  0  1  1  0
payment_type_Mailed check               1  1  0  0  1

In [75]:
explore.nunique_column_all(dummy_df)

0    4622
1    2421
Name: internet_service_type_DSL, dtype: int64

0    3947
1    3096
Name: internet_service_type_Fiber optic, dtype: int64

0    5517
1    1526
Name: internet_service_type_None, dtype: int64

1    3875
0    3168
Name: contract_type_Month-to-month, dtype: int64

0    5570
1    1473
Name: contract_type_One year, dtype: int64

0    5348
1    1695
Name: contract_type_Two year, dtype: int64

0    5499
1    1544
Name: payment_type_Bank transfer (automatic), dtype: int64

0    5521
1    1522
Name: payment_type_Credit card (automatic), dtype: int64

0    4678
1    2365
Name: payment_type_Electronic check, dtype: int64

0    5431
1    1612
Name: payment_type_Mailed check, dtype: int64

In [76]:
telco_churn_df = pd.concat([telco_churn_df, encoded_df, dummy_df], axis=1)

In [77]:
telco_churn_df.T

,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
gender,Female,Male,Male,Male,Female,Female,Female,Male,Female,Female,...,Male,Male,Female,Female,Female,Female,Male,Male,Male,Male
senior_citizen,0,0,0,1,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
partner,Yes,No,No,Yes,Yes,No,Yes,Yes,No,Yes,...,No,Yes,No,No,No,No,Yes,No,Yes,Yes
dependents,Yes,No,No,No,No,Yes,No,No,No,Yes,...,No,Yes,No,No,No,No,No,No,Yes,Yes
tenure,9,9,4,13,3,9,71,63,7,65,...,1,47,7,1,4,13,22,2,67,63
phone_service,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No
multiple_lines,No,Yes,No,No,No,No,No,Yes,No,Yes,...,No,No,No,No,No,No,Yes,No,No,No phone service
online_security,No,No,No,No,No,No,Yes,Yes,Yes,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,Yes
online_backup,Yes,No,No,Yes,No,No,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,Yes,No,Yes
device_protection,No,No,Yes,Yes,No,No,Yes,No,No,Yes,...,No internet service,No,No,No,No internet service,No,No,No,Yes,Yes
tech_support,Yes,No,No,No,Yes,Yes,Yes,Yes,No,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,No
streaming_tv,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,No,No,Yes
streaming_movies,No,Yes,No,Yes,No,Yes,Yes,No,No,Yes,...,No internet service,No,Yes,No,No internet service,No,Yes,No,Yes,Yes
paperless_billing,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,Yes,Yes,Yes,No,No,Yes,Yes,No,No
monthly_charges,65.6,59.9,73.9,98.0,83.9,69.4,109.7,84.65,48.2,90.45,...,18.9,84.95,94.05,70.15,20.95,55.15,85.1,50.3,67.85,59.0
total_charges,593.3,542.4,280.85,1237.85,267.4,571.45,7904.25,5377.8,340.35,5957.9,...,18.9,4018.05,633.45,70.15,85.5,742.9,1873.7,92.75,4627.65,3707.6
churn,No,No,Yes,Yes,Yes,No,No,No,No,No,...,No,No,No,Yes,Yes,No,Yes,No,No,No
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic,DSL,Fiber optic,Fiber optic,DSL,DSL,...,None,Fiber optic,Fiber optic,Fiber optic,None,DSL,Fiber optic,DSL,DSL,DSL
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Two year,Two year,Month-to-month,Two year,...,Month-to-month,One year,One year,Month-to-month,Month-to-month,One year,Month-to-month,Month-to-month,Two year,Two year
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check,Credit card (automatic),Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check,...,Mailed check,Bank transfer (automatic),Mailed check,Mailed check,Bank transfer (automatic),Mailed check,Electronic check,Mailed check,Mailed check,Electronic check
male_encoded,0,1,1,1,0,0,0,1,0,0,...,1,1,0,0,0,0,1,1,1,1
partner_encoded,1,0,0,1,1,0,1,1,0,1,...,0,1,0,0,0,0,1,0,1,1
dependents_encoded,1,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,1
phone_service_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
multiple_lines_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
online_security_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
online_backup_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
device_protection_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
streaming_tv_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
streaming_movies_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
paperless_billing_encoded,1,0,1,1,1,1,1,1,1,1,...,0,1,1,1,0,0,1,1,0,0
churn_encoded,0,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0
tech_support_encoded,0,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0
internet_service_type_DSL,1,1,0,0,0,1,0,0,1,1,...,0,0,0,0,0,1,0,1,1,1
internet_service_type_Fiber optic,0,0,1,1,1,0,1,1,0,0,...,0,1,1,1,0,0,1,0,0,0
internet_service_type_None,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
contract_type_Month-to-month,0,1,1,1,1,1,0,0,1,0,...,1,0,0,1,1,0,1,1,0,0
contract_type_One year,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,0
contract_type_Two year,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,1,1
payment_type_Bank transfer (automatic),0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
payment_type_Credit card (automatic),0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
payment_type_Electronic check,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
payment_type_Mailed check,1,1,0,0,1,0,0,0,0,1,...,1,0,1,1,0,1,0,1,1,0

In [78]:
telco_churn_df.columns

Index(['gender', 'senior_citizen', 'partner', 'dependents', 'tenure',
       'phone_service', 'multiple_lines', 'online_security', 'online_backup',
       'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
       'paperless_billing', 'monthly_charges', 'total_charges', 'churn',
       'internet_service_type', 'contract_type', 'payment_type',
       'male_encoded', 'partner_encoded', 'dependents_encoded',
       'phone_service_encoded', 'multiple_lines_encoded',
       'online_security_encoded', 'online_backup_encoded',
       'device_protection_encoded', 'streaming_tv_encoded',
       'streaming_movies_encoded', 'paperless_billing_encoded',
       'churn_encoded', 'tech_support_encoded', 'internet_service_type_DSL',
       'internet_service_type_Fiber optic', 'internet_service_type_None',
       'contract_type_Month-to-month', 'contract_type_One year',
       'contract_type_Two year', 'payment_type_Bank transfer (automatic)',
       'payment_type_Credit card (automatic)', 'payment_type_Electronic check',
       'payment_type_Mailed check'],
      dtype='object')

In [79]:
drop_cols = ['gender', 'partner', 'dependents', 'phone_service', 'multiple_lines', 
             'online_security', 'online_backup', 'device_protection', 'streaming_tv', 
             'streaming_movies', 'paperless_billing', 'churn', 'internet_service_type', 
             'contract_type', 'payment_type', 'tech_support']

In [80]:
telco_churn_df = telco_churn_df.drop(columns=drop_cols)

In [81]:
telco_churn_df.T

,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
senior_citizen,0,0,0,1,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
tenure,9,9,4,13,3,9,71,63,7,65,...,1,47,7,1,4,13,22,2,67,63
monthly_charges,65.6,59.9,73.9,98.0,83.9,69.4,109.7,84.65,48.2,90.45,...,18.9,84.95,94.05,70.15,20.95,55.15,85.1,50.3,67.85,59.0
total_charges,593.3,542.4,280.85,1237.85,267.4,571.45,7904.25,5377.8,340.35,5957.9,...,18.9,4018.05,633.45,70.15,85.5,742.9,1873.7,92.75,4627.65,3707.6
male_encoded,0,1,1,1,0,0,0,1,0,0,...,1,1,0,0,0,0,1,1,1,1
partner_encoded,1,0,0,1,1,0,1,1,0,1,...,0,1,0,0,0,0,1,0,1,1
dependents_encoded,1,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,1
phone_service_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
multiple_lines_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
online_security_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
online_backup_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
device_protection_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
streaming_tv_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
streaming_movies_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
paperless_billing_encoded,1,0,1,1,1,1,1,1,1,1,...,0,1,1,1,0,0,1,1,0,0
churn_encoded,0,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0
tech_support_encoded,0,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0
internet_service_type_DSL,1,1,0,0,0,1,0,0,1,1,...,0,0,0,0,0,1,0,1,1,1
internet_service_type_Fiber optic,0,0,1,1,1,0,1,1,0,0,...,0,1,1,1,0,0,1,0,0,0
internet_service_type_None,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
contract_type_Month-to-month,0,1,1,1,1,1,0,0,1,0,...,1,0,0,1,1,0,1,1,0,0
contract_type_One year,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,0
contract_type_Two year,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,1,1
payment_type_Bank transfer (automatic),0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
payment_type_Credit card (automatic),0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
payment_type_Electronic check,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
payment_type_Mailed check,1,1,0,0,1,0,0,0,0,1,...,1,0,1,1,0,1,0,1,1,0

### 4. Create a function named ```prep_telco``` that accepts the raw ```telco``` data, and returns the data with the transformations above applied.

In [82]:
telco_churn_df = acquire.get_telco_churn_df()
print(telco_churn_df.shape)
telco_churn_df.head().T

(7043, 24)

,0,1,2,3,4
payment_type_id,2,2,1,1,2
contract_type_id,2,1,1,1,1
internet_service_type_id,1,1,2,2,2
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ
gender,Female,Male,Male,Male,Female
senior_citizen,0,0,0,1,1
partner,Yes,No,No,Yes,Yes
dependents,Yes,No,No,No,No
tenure,9,9,4,13,3
phone_service,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,Yes,No,No,No
online_security,No,No,No,No,No
online_backup,Yes,No,No,Yes,No
device_protection,No,No,Yes,Yes,No
tech_support,Yes,No,No,No,Yes
streaming_tv,Yes,No,No,Yes,Yes
streaming_movies,No,Yes,No,Yes,No
paperless_billing,Yes,No,Yes,Yes,Yes
monthly_charges,65.6,59.9,73.9,98.0,83.9
total_charges,593.3,542.4,280.85,1237.85,267.4
churn,No,No,Yes,Yes,Yes
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check

In [83]:
def prep_telco_churn_df(telco_churn_df):
    telco_churn_df = telco_churn_df.drop(columns=['payment_type_id', 'contract_type_id', 
                                              'internet_service_type_id', 'customer_id'])
    encoded_df = pd.DataFrame()
    encoded_df['male_encoded'] = telco_churn_df.gender.map({'Male': 1, 'Female': 0})
    encoded_df['partner_encoded'] = telco_churn_df.partner.map({'Yes': 1, 'No': 0})
    encoded_df['dependents_encoded'] = telco_churn_df.dependents.map({'Yes': 1, 'No': 0})
    encoded_df['phone_service_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
    encoded_df['multiple_lines_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
    encoded_df['online_security_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
    encoded_df['online_backup_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
    encoded_df['device_protection_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
    encoded_df['streaming_tv_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
    encoded_df['streaming_movies_encoded'] = telco_churn_df.phone_service.map({'Yes': 1, 'No': 0})
    encoded_df['paperless_billing_encoded'] = telco_churn_df.paperless_billing.map({'Yes': 1, 'No': 0})
    encoded_df['churn_encoded'] = telco_churn_df.churn.map({'Yes': 1, 'No': 0})
    encoded_df['tech_support_encoded'] = telco_churn_df.churn.map({'Yes': 1, 'No': 0})
    encoded_cols = encoded_df.columns

    dummy_df = pd.get_dummies(data=telco_churn_df[['internet_service_type', 'contract_type', 'payment_type']], drop_first=False)
    
    telco_churn_df = pd.concat([telco_churn_df, encoded_df, dummy_df], axis=1)
    
    drop_cols = ['gender', 'partner', 'dependents', 'phone_service', 'multiple_lines', 
             'online_security', 'online_backup', 'device_protection', 'streaming_tv', 
             'streaming_movies', 'paperless_billing', 'churn', 'internet_service_type', 
             'contract_type', 'payment_type', 'tech_support']
    
    telco_churn_df = telco_churn_df.drop(columns = drop_cols)
    
    return telco_churn_df.T

In [84]:
prep_telco_churn_df(telco_churn_df)

,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
senior_citizen,0,0,0,1,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
tenure,9,9,4,13,3,9,71,63,7,65,...,1,47,7,1,4,13,22,2,67,63
monthly_charges,65.6,59.9,73.9,98.0,83.9,69.4,109.7,84.65,48.2,90.45,...,18.9,84.95,94.05,70.15,20.95,55.15,85.1,50.3,67.85,59.0
total_charges,593.3,542.4,280.85,1237.85,267.4,571.45,7904.25,5377.8,340.35,5957.9,...,18.9,4018.05,633.45,70.15,85.5,742.9,1873.7,92.75,4627.65,3707.6
male_encoded,0,1,1,1,0,0,0,1,0,0,...,1,1,0,0,0,0,1,1,1,1
partner_encoded,1,0,0,1,1,0,1,1,0,1,...,0,1,0,0,0,0,1,0,1,1
dependents_encoded,1,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,1
phone_service_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
multiple_lines_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
online_security_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
online_backup_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
device_protection_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
streaming_tv_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
streaming_movies_encoded,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
paperless_billing_encoded,1,0,1,1,1,1,1,1,1,1,...,0,1,1,1,0,0,1,1,0,0
churn_encoded,0,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0
tech_support_encoded,0,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0
internet_service_type_DSL,1,1,0,0,0,1,0,0,1,1,...,0,0,0,0,0,1,0,1,1,1
internet_service_type_Fiber optic,0,0,1,1,1,0,1,1,0,0,...,0,1,1,1,0,0,1,0,0,0
internet_service_type_None,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
contract_type_Month-to-month,0,1,1,1,1,1,0,0,1,0,...,1,0,0,1,1,0,1,1,0,0
contract_type_One year,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,0
contract_type_Two year,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,1,1
payment_type_Bank transfer (automatic),0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
payment_type_Credit card (automatic),0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
payment_type_Electronic check,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
payment_type_Mailed check,1,1,0,0,1,0,0,0,0,1,...,1,0,1,1,0,1,0,1,1,0

## Split your data:

### 1. Write a function to split your data into ```train```, ```test``` and ```validate``` datasets. Add this function to ```prepare.py```.

In [85]:
iris_sql_df = acquire.get_iris_sql_df()
iris_sql_df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [86]:
def train_val_test_split(df, target):
    train, test = train_test_split(df, test_size=.2, random_state=123, stratify = df[target])
    train, validate = train_test_split(train, test_size=.25, random_state=123, stratify = train[target])
    print('_______________________________________________________________')
    print('|                              DF                             |')
    print('|-------------------|-------------------|---------------------|')
    print('|       Train       |       Validate    |          Test       |')
    print('|-------------------|-------------------|-----------|---------|')
    print('| x_train | y_train |   x_val  |  y_val |   x_test  |  y_test |')
    print('|-------------------|-------------------|-----------|---------|')
    print('')
    print('* 1. tree_1 = DecisionTreeClassifier(max_depth = 5)')
    print('* 2. tree_1.fit(x_train, y_train)')
    print('* 3. predictions = tree_1.predict(x_train)')
    print('* 4. pd.crosstab(y_train, predictions)')
    print('* 5. val_predictions = tree_1.predict(x_val)')
    print('* 6. pd.crosstab(y_val, val_predictions)')
    return train, validate, test

### 2. Run the function in your notebook on the ```Iris``` dataset, returning 3 datasets, ```train_iris```, ```validate_iris``` and ```test_iris```.

In [87]:
target = 'species_name'

In [88]:
iris_sql_df

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2
5,1,setosa,5.4,3.9,1.7,0.4
6,1,setosa,4.6,3.4,1.4,0.3
7,1,setosa,5.0,3.4,1.5,0.2
8,1,setosa,4.4,2.9,1.4,0.2
9,1,setosa,4.9,3.1,1.5,0.1
10,1,setosa,5.4,3.7,1.5,0.2
11,1,setosa,4.8,3.4,1.6,0.2
12,1,setosa,4.8,3.0,1.4,0.1
13,1,setosa,4.3,3.0,1.1,0.1
14,1,setosa,5.8,4.0,1.2,0.2
15,1,setosa,5.7,4.4,1.5,0.4
16,1,setosa,5.4,3.9,1.3,0.4
17,1,setosa,5.1,3.5,1.4,0.3
18,1,setosa,5.7,3.8,1.7,0.3
19,1,setosa,5.1,3.8,1.5,0.3
20,1,setosa,5.4,3.4,1.7,0.2
21,1,setosa,5.1,3.7,1.5,0.4
22,1,setosa,4.6,3.6,1.0,0.2
23,1,setosa,5.1,3.3,1.7,0.5
24,1,setosa,4.8,3.4,1.9,0.2
25,1,setosa,5.0,3.0,1.6,0.2
26,1,setosa,5.0,3.4,1.6,0.4
27,1,setosa,5.2,3.5,1.5,0.2
28,1,setosa,5.2,3.4,1.4,0.2
29,1,setosa,4.7,3.2,1.6,0.2
30,1,setosa,4.8,3.1,1.6,0.2
31,1,setosa,5.4,3.4,1.5,0.4
32,1,setosa,5.2,4.1,1.5,0.1
33,1,setosa,5.5,4.2,1.4,0.2
34,1,setosa,4.9,3.1,1.5,0.2
35,1,setosa,5.0,3.2,1.2,0.2
36,1,setosa,5.5,3.5,1.3,0.2
37,1,setosa,4.9,3.6,1.4,0.1
38,1,setosa,4.4,3.0,1.3,0.2
39,1,setosa,5.1,3.4,1.5,0.2
40,1,setosa,5.0,3.5,1.3,0.3
41,1,setosa,4.5,2.3,1.3,0.3
42,1,setosa,4.4,3.2,1.3,0.2
43,1,setosa,5.0,3.5,1.6,0.6
44,1,setosa,5.1,3.8,1.9,0.4
45,1,setosa,4.8,3.0,1.4,0.3
46,1,setosa,5.1,3.8,1.6,0.2
47,1,setosa,4.6,3.2,1.4,0.2
48,1,setosa,5.3,3.7,1.5,0.2
49,1,setosa,5.0,3.3,1.4,0.2
50,2,versicolor,7.0,3.2,4.7,1.4
51,2,versicolor,6.4,3.2,4.5,1.5
52,2,versicolor,6.9,3.1,4.9,1.5
53,2,versicolor,5.5,2.3,4.0,1.3
54,2,versicolor,6.5,2.8,4.6,1.5
55,2,versicolor,5.7,2.8,4.5,1.3
56,2,versicolor,6.3,3.3,4.7,1.6
57,2,versicolor,4.9,2.4,3.3,1.0
58,2,versicolor,6.6,2.9,4.6,1.3
59,2,versicolor,5.2,2.7,3.9,1.4
60,2,versicolor,5.0,2.0,3.5,1.0
61,2,versicolor,5.9,3.0,4.2,1.5
62,2,versicolor,6.0,2.2,4.0,1.0
63,2,versicolor,6.1,2.9,4.7,1.4
64,2,versicolor,5.6,2.9,3.6,1.3
65,2,versicolor,6.7,3.1,4.4,1.4
66,2,versicolor,5.6,3.0,4.5,1.5
67,2,versicolor,5.8,2.7,4.1,1.0
68,2,versicolor,6.2,2.2,4.5,1.5
69,2,versicolor,5.6,2.5,3.9,1.1
70,2,versicolor,5.9,3.2,4.8,1.8
71,2,versicolor,6.1,2.8,4.0,1.3
72,2,versicolor,6.3,2.5,4.9,1.5
73,2,versicolor,6.1,2.8,4.7,1.2
74,2,versicolor,6.4,2.9,4.3,1.3
75,2,versicolor,6.6,3.0,4.4,1.4
76,2,versicolor,6.8,2.8,4.8,1.4
77,2,versicolor,6.7,3.0,5.0,1.7
78,2,versicolor,6.0,2.9,4.5,1.5
79,2,versicolor,5.7,2.6,3.5,1.0
80,2,versicolor,5.5,2.4,3.8,1.1
81,2,versicolor,5.5,2.4,3.7,1.0
82,2,versicolor,5.8,2.7,3.9,1.2
83,2,versicolor,6.0,2.7,5.1,1.6
84,2,versicolor,5.4,3.0,4.5,1.5
85,2,versicolor,6.0,3.4,4.5,1.6
86,2,versicolor,6.7,3.1,4.7,1.5
87,2,versicolor,6.3,2.3,4.4,1.3
88,2,versicolor,5.6,3.0,4.1,1.3
89,2,versicolor,5.5,2.5,4.0,1.3
90,2,versicolor,5.5,2.6,4.4,1.2
91,2,versicolor,6.1,3.0,4.6,1.4
92,2,versicolor,5.8,2.6,4.0,1.2
93,2,versicolor,5.0,2.3,3.3,1.0
94,2,versicolor,5.6,2.7,4.2,1.3
95,2,versicolor,5.7,3.0,4.2,1.2
96,2,versicolor,5.7,2.9,4.2,1.3
97,2,versicolor,6.2,2.9,4.3,1.3
98,2,versicolor,5.1,2.5,3.0,1.1
99,2,versicolor,5.7,2.8,4.1,1.3
100,3,virginica,6.3,3.3,6.0,2.5
101,3,virginica,5.8,2.7,5.1,1.9
102,3,virginica,7.1,3.0,5.9,2.1
103,3,virginica,6.3,2.9,5.6,1.8
104,3,virginica,6.5,3.0,5.8,2.2
105,3,virginica,7.6,3.0,6.6,2.1
106,3,virginica,4.9,2.5,4.5,1.7
107,3,virginica,7.3,2.9,6.3,1.8
108,3,virginica,6.7,2.5,5.8,1.8
109,3,virginica,7.2,3.6,6.1,2.5
110,3,virginica,6.5,3.2,5.1,2.0
111,3,virginica,6.4,2.7,5.3,1.9
112,3,virginica,6.8,3.0,5.5,2.1
113,3,virginica,5.7,2.5,5.0,2.0
114,3,virginica,5.8,2.8,5.1,2.4
115,3,virginica,6.4,3.2,5.3,2.3
116,3,virginica,6.5,3.0,5.5,1.8
117,3,virginica,7.7,3.8,6.7,2.2
118,3,virginica,7.7,2.6,6.9,2.3
119,3,virginica,6.0,2.2,5.0,1.5
120,3,virginica,6.9,3.2,5.7,2.3
121,3,virginica,5.6,2.8,4.9,2.0
122,3,virginica,7.7,2.8,6.7,2.0
123,3,virginica,6.3,2.7,4.9,1.8
124,3,virginica,6.7,3.3,5.7,2.1
125,3,virginica,7.2,3.2,6.0,1.8
126,3,virginica,6.2,2.8,4.8,1.8
127,3,virginica,6.1,3.0,4.9,1.8
128,3,virginica,6.4,2.8,5.6,2.1
129,3,virginica,7.2,3.0,5.8,1.6
130,3,virginica,7.4,2.8,6.1,1.9
131,3,virginica,7.9,3.8,6.4,2.0
132,3,virginica,6.4,2.8,5.6,2.2
133,3,virginica,6.3,2.8,5.1,1.5
134,3,virginica,6.1,2.6,5.6,1.4
135,3,virginica,7.7,3.0,6.1,2.3
136,3,virginica,6.3,3.4,5.6,2.4
137,3,virginica,6.4,3.1,5.5,1.8
138,3,virginica,6.0,3.0,4.8,1.8
139,3,virginica,6.9,3.1,5.4,2.1
140,3,virginica,6.7,3.1,5.6,2.4
141,3,virginica,6.9,3.1,5.1,2.3
142,3,virginica,5.8,2.7,5.1,1.9
143,3,virginica,6.8,3.2,5.9,2.3
144,3,virginica,6.7,3.3,5.7,2.5
145,3,virginica,6.7,3.0,5.2,2.3
146,3,virginica,6.3,2.5,5.0,1.9
147,3,virginica,6.5,3.0,5.2,2.0
148,3,virginica,6.2,3.4,5.4,2.3
149,3,virginica,5.9,3.0,5.1,1.8

In [89]:
train_iris, validate_iris, test_iris = train_val_test_split(iris_sql_df, target)
print()
print(f'Prepared df: {iris_sql_df.shape}')
print()
print(f'Train: {train_iris.shape}')
print(f'Validate: {validate_iris.shape}')
print(f'Test: {test_iris.shape}')

_______________________________________________________________
|                              DF                             |
|-------------------|-------------------|---------------------|
|       Train       |       Validate    |          Test       |
|-------------------|-------------------|-----------|---------|
| x_train | y_train |   x_val  |  y_val |   x_test  |  y_test |
|-------------------|-------------------|-----------|---------|

* 1. tree_1 = DecisionTreeClassifier(max_depth = 5)
* 2. tree_1.fit(x_train, y_train)
* 3. predictions = tree_1.predict(x_train)
* 4. pd.crosstab(y_train, predictions)
* 5. val_predictions = tree_1.predict(x_val)
* 6. pd.crosstab(y_val, val_predictions)

Prepared df: (150, 6)

Train: (90, 6)
Validate: (30, 6)
Test: (30, 6)

### 3. Run the function on the ```Titanic``` dataset, returning 3 datasets, ```train_titanic```, ```validate_titanic``` and ```test_titanic```.

In [91]:
target = 'survived'

In [93]:
titanic_df.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
passenger_id,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0,27.0,14.0,...,33.0,22.0,28.0,25.0,39.0,27.0,19.0,NaN,26.0,32.0
sibsp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75
embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q
class,Third,First,Third,First,Third,Third,First,Third,Third,Second,...,Third,Third,Second,Third,Third,Second,First,Third,First,Third
deck,NaN,C,NaN,C,NaN,NaN,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,C,NaN
embark_town,Southampton,Cherbourg,Southampton,Southampton,Southampton,Queenstown,Southampton,Southampton,Southampton,Cherbourg,...,Southampton,Southampton,Southampton,Southampton,Queenstown,Southampton,Southampton,Southampton,Cherbourg,Queenstown
alone,0,0,1,0,1,1,1,0,0,0,...,1,1,1,1,0,1,1,0,1,1

In [94]:
train_titanic, validate_titanic, test_titanic = train_val_test_split(titanic_df, target)
print()
print(f'Prepared df: {titanic_df.shape}')
print()
print(f'Train: {train_titanic.shape}')
print(f'Validate: {validate_titanic.shape}')
print(f'Test: {test_titanic.shape}')

_______________________________________________________________
|                              DF                             |
|-------------------|-------------------|---------------------|
|       Train       |       Validate    |          Test       |
|-------------------|-------------------|-----------|---------|
| x_train | y_train |   x_val  |  y_val |   x_test  |  y_test |
|-------------------|-------------------|-----------|---------|

* 1. tree_1 = DecisionTreeClassifier(max_depth = 5)
* 2. tree_1.fit(x_train, y_train)
* 3. predictions = tree_1.predict(x_train)
* 4. pd.crosstab(y_train, predictions)
* 5. val_predictions = tree_1.predict(x_val)
* 6. pd.crosstab(y_val, val_predictions)

Prepared df: (891, 13)

Train: (534, 13)
Validate: (178, 13)
Test: (179, 13)

### 4. Run the function on the ```Telco``` dataset, returning 3 datasets, ```train_telco```, ```validate_telco``` and ```test_telco```.

In [95]:
target = 'churn'

In [96]:
telco_churn_df.T

,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
payment_type_id,2,2,1,1,2,4,3,4,1,2,...,2,3,2,2,3,2,1,2,2,1
contract_type_id,2,1,1,1,1,1,3,3,1,3,...,1,2,2,1,1,2,1,1,3,3
internet_service_type_id,1,1,2,2,2,1,2,2,1,1,...,3,2,2,2,3,1,2,1,1,1
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ,0013-MHZWF,0013-SMEOE,0014-BMAQU,0015-UOCOJ,0016-QLJIS,...,9975-SKRNR,9978-HYCIN,9979-RGMZT,9985-MWVIX,9986-BONCE,9987-LUTYD,9992-RRAMN,9992-UJOEL,9993-LHIEB,9995-HOTOH
gender,Female,Male,Male,Male,Female,Female,Female,Male,Female,Female,...,Male,Male,Female,Female,Female,Female,Male,Male,Male,Male
senior_citizen,0,0,0,1,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
partner,Yes,No,No,Yes,Yes,No,Yes,Yes,No,Yes,...,No,Yes,No,No,No,No,Yes,No,Yes,Yes
dependents,Yes,No,No,No,No,Yes,No,No,No,Yes,...,No,Yes,No,No,No,No,No,No,Yes,Yes
tenure,9,9,4,13,3,9,71,63,7,65,...,1,47,7,1,4,13,22,2,67,63
phone_service,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No
multiple_lines,No,Yes,No,No,No,No,No,Yes,No,Yes,...,No,No,No,No,No,No,Yes,No,No,No phone service
online_security,No,No,No,No,No,No,Yes,Yes,Yes,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,Yes
online_backup,Yes,No,No,Yes,No,No,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,Yes,No,Yes
device_protection,No,No,Yes,Yes,No,No,Yes,No,No,Yes,...,No internet service,No,No,No,No internet service,No,No,No,Yes,Yes
tech_support,Yes,No,No,No,Yes,Yes,Yes,Yes,No,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,No
streaming_tv,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,No,No,Yes
streaming_movies,No,Yes,No,Yes,No,Yes,Yes,No,No,Yes,...,No internet service,No,Yes,No,No internet service,No,Yes,No,Yes,Yes
paperless_billing,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,Yes,Yes,Yes,No,No,Yes,Yes,No,No
monthly_charges,65.6,59.9,73.9,98.0,83.9,69.4,109.7,84.65,48.2,90.45,...,18.9,84.95,94.05,70.15,20.95,55.15,85.1,50.3,67.85,59.0
total_charges,593.3,542.4,280.85,1237.85,267.4,571.45,7904.25,5377.8,340.35,5957.9,...,18.9,4018.05,633.45,70.15,85.5,742.9,1873.7,92.75,4627.65,3707.6
churn,No,No,Yes,Yes,Yes,No,No,No,No,No,...,No,No,No,Yes,Yes,No,Yes,No,No,No
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic,DSL,Fiber optic,Fiber optic,DSL,DSL,...,None,Fiber optic,Fiber optic,Fiber optic,None,DSL,Fiber optic,DSL,DSL,DSL
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Two year,Two year,Month-to-month,Two year,...,Month-to-month,One year,One year,Month-to-month,Month-to-month,One year,Month-to-month,Month-to-month,Two year,Two year
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check,Credit card (automatic),Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check,...,Mailed check,Bank transfer (automatic),Mailed check,Mailed check,Bank transfer (automatic),Mailed check,Electronic check,Mailed check,Mailed check,Electronic check

In [97]:
train_telco, validate_telco, test_telco = train_val_test_split(telco_churn_df, target)
print()
print(f'Prepared df: {telco_churn_df.shape}')
print()
print(f'Train: {train_telco.shape}')
print(f'Validate: {validate_telco.shape}')
print(f'Test: {test_telco.shape}')

_______________________________________________________________
|                              DF                             |
|-------------------|-------------------|---------------------|
|       Train       |       Validate    |          Test       |
|-------------------|-------------------|-----------|---------|
| x_train | y_train |   x_val  |  y_val |   x_test  |  y_test |
|-------------------|-------------------|-----------|---------|

* 1. tree_1 = DecisionTreeClassifier(max_depth = 5)
* 2. tree_1.fit(x_train, y_train)
* 3. predictions = tree_1.predict(x_train)
* 4. pd.crosstab(y_train, predictions)
* 5. val_predictions = tree_1.predict(x_val)
* 6. pd.crosstab(y_val, val_predictions)

Prepared df: (7043, 24)

Train: (4225, 24)
Validate: (1409, 24)
Test: (1409, 24)

<div class="alert alert-block alert-warning">
Planning - Acquisition - <font color='red'><b>Preparation</b></font> - Exploratory Analysis - Modeling - Product Delivery
</div>

# Tidy Data Exercises
    
Do your work for this exercise in a jupyter notebook or python script named ```tidy_data```. Save this work in your ```classification-exercises``` repo. Add, commit, and push your changes.

### 1. Attendance Data

Read the data from the ```attendance``` table and calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

You should end up with something like this:
```
name
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625
Name: grade, dtype: float64
```

### 2. Coffee Levels

### a. Read the ```coffee_levels``` table.

### b. Transform the data so that each carafe is in it's own column.

### c. Is this the best shape for the data?

### 3. Cake Recipes

### a. Read the ```cake_recipes``` table. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.

### b. Tidy the data as necessary.

### c. Which recipe, on average, is the best? 
* recipe b

### d. Which oven temperature, on average, produces the best results? 
* 275

### e. Which combination of recipe, rack position, and temperature gives the best result? 
* recipe b, bottom rack, 300 degrees

## 4. **Bonus:** 
### Explore the other tables in the tidy_data database and reshape them as necessary so that they are in a tidy format.

<div class="alert alert-block alert-warning">
Planning - Acquisition - Preparation - <font color='red'><b>Exploratory Analysis</b></font> - Modeling - Product Delivery
</div>

<div class="alert alert-block alert-warning">
Planning - Acquisition - Preparation - <font color='red'><b>Exploratory Analysis</b></font> - Modeling - Product Delivery
</div>

# Exploratory Data Analysis Exercises

## Part I

Continue in your `classification_exercises.ipynb` notebook. As always, add, commit, and push your changes.

**Section 1 - iris_db:** Using ```iris``` data from our mySQL server and the methods used in the lesson above: 

Acquire, prepare & split your data.

<div class="alert alert-info">
<b>Aquire</b>

Acquire ```iris``` data from ```pydataset```
</div>

In [ ]:
df_iris = data('iris')
df_iris.head()

In [ ]:
df_iris.shape

In [ ]:
data('iris', show_doc=True)

In [ ]:
df_iris.info()

In [ ]:
column_list = df_iris.columns
column_list

In [ ]:
df_iris.

In [ ]:
# Potential Duplicate records (the diference rows in value_counts.shape vs rows in .shape will be duplicate rows)
print(df_iris.shape)
print(df_iris[column_list].value_counts().shape)
print('')
print(df_iris[column_list].value_counts().head(1))

In [ ]:
df_iris.describe(include='all').T

In [ ]:
df_iris.Species.unique()#.tolist()

In [ ]:
df_iris['Species'].value_counts()

<div class="alert alert-info">
<b>Prepare</b>

<b>Check Headers format (no spaces, no dots, nor reserved words)</b>
- <b>FIX</b> Replace '.' with '_' in column heads

<b>Check Dtypes to ensure they match data held in fields</b>    
- <b>GOOD</b> all Dtypes are appropriate to data type
    
<b>Check data in fields for Nan/Null, empty ' ', format, duplicated uniques, double data, etc</b>    
- <b>GOOD</b> no inconsistencies exist

<b>FURTHER RESEARCH QUESTIONS</b> 

- <b>GOOD</b> None at the moment, data is fairly clean for ```iris``` database
</div>

In [ ]:
df_iris.rename(columns={'Sepal.Length': 'Sepal_Length',
                        'Sepal.Width': 'Sepal_Width',
                        'Petal.Length': 'Petal_Length',
                        'Petal.Width': 'Petal_Width',
                        }, inplace=True)
df_iris.columns

In [ ]:
column_list = df_iris.columns
column_list

<div class="alert alert-info">
<b>SPLIT</b>

Split ```iris``` data from ```pydataset``` into ```Train```, ```Validate```, and ```Test```.
</div>

In [ ]:
def split_iris_data(df):
    '''
    take in a DataFrame and return train, validate, and test DataFrames; stratify on species.
    return train, validate, test DataFrames.
    '''
    
    # splits df into train_validate and test using train_test_split() stratifying on species to get an even mix of each species
    train_validate, test = train_test_split(df, test_size=.2, random_state=123, stratify=df.species)
    
    # splits train_validate into train and validate using train_test_split() stratifying on species to get an even mix of each species
    train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123, 
                                       stratify=train_validate.species)
    return train, validate, test

In [ ]:
train, validate, test = split_iris_data(df)

### 1. Univariate Stats

### 1.1 For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()).

### 1.2 For each species (categorical variable): create a frequency table and a bar plot of those frequencies.

### 1.3 Document takeaways & any actions.

### 2. Bivariate Stats

### 2.1 Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis).

### 2.2 For each measurement type, compute the descriptive statistics for each species.

### 2.3 For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types.

### 2.4 Document takeaways & any actions.

### 3. Multivariate Stats

### 3.1 Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species.

### 3.2 Visualize two numeric variables by means of the species. Hint: `sns.relplot` with `hue` or `col`

### 3.3 Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

### 3.4 Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance).

### 3.5 Document takeaways and any actions.

### Part II

Explore your `titanic` dataset more completely.

- Determine drivers of the target variable
- Determine if certain columns should be dropped
- Determine if it would be valuable to bin some numeric columns
- Determine if it would be valuable to combine multiple columns into one.

Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.

### Part III

- Explore your `telco` data to discover drivers of churn
- Determine if certain columns should be dropped
- Determine if it would be valuable to bin some numeric columns
- Determine if it would be valuable to combine multiple columns into one.

What are your drivers of churn?

Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.