<div class="alert alert-block alert-warning">
Planning - <font color='red'><b>Acquisition</b></font> - Preparation - Exploratory Analysis - Modeling - Product Delivery
</div>

# Acquisition Exercises
The end product of these exercise is a jupyter notebook (classification_exercises.ipynb) and a acquire.py file. The notebook will contain all your work as you move through the exercises. The acquire.py file should contain the final functions that acquire the data into a pandas dataframe.

### 1. Make a new repo called ```classification-exercises``` on both GitHub and within your ```codeup-data-science``` directory. This will be where you do your work for this module.

### 2. Inside of your local ```classification-exercises``` repo, create a file named ```.gitignore``` with the following contents:

```
env.py
.DS_Store
.ipynb_checkpoints/
__pycache__
*.csv
```

Add and commit your ```.gitignore``` file before moving forward.

### 3. Now that you are 100% sure that your ```.gitignore``` file lists ```env.py```, create or copy your ```env.py``` file inside of ```classification-exercises```. Running ```git status``` should show that git is ignoring this file.

### 4. In a jupyter notebook, ```classification_exercises.ipynb```, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, ```df_iris```, from this data.

In [35]:
import pandas as pd
import numpy as np
import os
from pydataset import data

import seaborn as sns
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'

from env import get_db_url

# data('mpg', show_doc=True) # view the documentation for the dataset

### 4.1 print the first 3 rows

In [2]:
df_iris = data('iris')
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

### 4.2 print the number of rows and columns (shape)

In [3]:
df_iris.shape

(150, 5)

### 4.3 print the column names

In [4]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

### 4.4 print the data type of each column

In [5]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

### 4.5 print the summary statistics for each of the numeric variables

In [6]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 5. Read the data from this google sheet (https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing) into a dataframe, ```df_google```.

In [7]:
# Had to follow link then copy address to get 'edit#gid' for my formula as opposed to 'edit?' in the link
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [8]:
df_google = pd.read_csv(csv_export_url)

### 5.1 print the first 3 rows

In [9]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

### 5.2 print the number of rows and columns

In [10]:
df_google.shape

(891, 12)

### 5.3 print the column names

In [11]:
df_google.columns.to_list()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

### 5.4 print the data type of each column

In [12]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 5.5 print the summary statistics for each of the numeric variables

In [13]:
df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

### 5.6 print the unique values for each of your categorical variables

In [14]:
for col in df_google.columns:
#     print(col)
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

Name has 891 unique values.
Sex has 2 unique values.
Ticket has 681 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

In [15]:
df_google.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [16]:
for col in df_google.columns:
#     print(col)
    if df_google[col].dtypes != 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

PassengerId has 891 unique values.
Survived has 2 unique values.
Pclass has 3 unique values.
Age has 88 unique values.
SibSp has 7 unique values.
Parch has 7 unique values.
Fare has 248 unique values.

In [17]:
df_google.Survived.value_counts(dropna=False)

0    549
1    342
Name: Survived, dtype: int64

In [18]:
df_google.Pclass.value_counts(dropna=False)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [19]:
df_google.SibSp.value_counts(dropna=False)

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [20]:
df_google.Parch.value_counts(dropna=False)

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

### 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named ```df_excel```.

In [21]:
df_excel = pd.read_excel('train.xlsx', sheet_name='train')

In [22]:
df_excel.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803.0,53.1000,C123,S
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450.0,8.0500,NaN,S

In [23]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    float64
 1   Survived     891 non-null    float64
 2   Pclass       891 non-null    float64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    float64
 7   Parch        891 non-null    float64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(7), object(5)
memory usage: 83.7+ KB

### 6.1 assign the first 100 rows to a new dataframe, ```df_excel_sample```

In [24]:
df_excel_sample = df_excel.head(100)
df_excel_sample.shape

(100, 12)

### 6.2 print the number of rows of your original dataframe

In [25]:
df_excel.shape[0]

891

### 6.3 print the first 5 column names

In [26]:
df_excel.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

### 6.4 print the column names that have a data type of ```object```

In [27]:
df_excel.select_dtypes(include='object').columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [28]:
df_excel.dtypes

PassengerId    float64
Survived       float64
Pclass         float64
Name            object
Sex             object
Age            float64
SibSp          float64
Parch          float64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### 6.5 compute the range for each of the numeric variables.

In [29]:
numeric_list = df_excel.select_dtypes(include = 'float').columns.tolist()
numeric_list

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [30]:
numeric_range = df_excel[numeric_list].describe().T

In [31]:
numeric_range['range'] = numeric_range['max'] - numeric_range['min']
numeric_range

,count,mean,std,min,25%,50%,75%,max,range
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000,890.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000,2.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000,79.5800
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292,512.3292

<div class="alert alert-block alert-warning">
Planning - <font color='red'><b>Acquisition</b></font> - Preparation - Exploratory Analysis - Modeling - Product Delivery
</div>

## Make a new python module, ```acquire.py``` to hold the following data aquisition functions:

### 1. Make a function named ```get_titanic_data``` that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the ```Codeup Data Science Database```.

In [32]:
def new_titanic_data():
    '''
    This function reads the titanic data from the Codeup database into a DataFrame.
    '''
    # Create SQL query.
    sql_query = 'SELECT * FROM passengers'
    
    # Read in DataFrame from Codeup database.
    df = pd.read_sql(sql_query, get_db_url('titanic_db'))
    
    return df

In [33]:
def get_titanic_data():
    '''
    This function reads in titanic data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a DataFrame.
    '''
    if os.path.isfile('titanic_df.csv'):
        
        # If csv file exists, read in data from csv file.
        df = pd.read_csv('titanic_df.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame.
        df = new_titanic_data()
        
        # Write DataFrame to a csv file.
        df.to_csv('titanic_df.csv')
        
    return df

In [37]:
titanic_df = get_titanic_data()
titanic_df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

### 2. Make a function named ```get_iris_data``` that returns the data from the ```iris_db``` on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the ```species_ids```. Obtain your data from the ```Codeup Data Science Database```.

In [47]:
def new_iris_data():
    '''
    This function reads the iris data from the Codeup database into a DataFrame.
    '''
    # Create SQL query.
    sql_query = 'SELECT species_id, species_name, sepal_length, sepal_width, petal_length, petal_width FROM measurements JOIN species USING(species_id)'
    
    # Read in DataFrame from Codeup db.
    df = pd.read_sql(sql_query, get_db_url('iris_db'))
    
    return df

In [48]:
def get_iris_data():
    '''
    This function reads in iris data from Codeup database, writes data to
    a csv file if a local file does not exist, and returns a DataFrame.
    '''
    if os.path.isfile('iris_df.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('iris_df.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_iris_data()
        
        # Cache data
        df.to_csv('iris_df.csv')
        
    return df

In [55]:
iris_df = get_iris_data()
print(iris_df.shape)
iris_df.head()

(150, 6)

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [50]:
def new_iris_sns_df():
    '''
    This function reads the iris data from the seaborn database into a DataFrame.
    '''
    import seaborn as sns
    
    # Read in DataFrame from pydata db.
    df = sns.load_dataset('iris')
    
    return df

In [51]:
def get_iris_sns_df():
    '''
    This function reads in iris data from seaborn database, writes data to
    a csv file if a local file does not exist, and returns a DataFrame.
    '''
    if os.path.isfile('iris_sns_df.csv'):
        
        # If csv file exists read in data from csv file.
        df = pd.read_csv('iris_sns_df.csv', index_col=0)
        
    else:
        
        # Read fresh data from db into a DataFrame
        df = new_iris_sns_df()
        
        # Cache data
        df.to_csv('iris_sns_df.csv')
        
    return df

In [54]:
iris_sns_df = get_iris_sns_df()
print(iris_sns_df.shape)
iris_sns_df.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### 3. Make a function named ```get_telco_data``` that returns the data from the ```telco_churn``` database in SQL. In your SQL, be sure to join ```contract_types```, ```internet_service_types```, ```payment_types``` tables with the customers table, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the ```Codeup Data Science Database```.

### 4. Once you've got your ```get_titanic_data```, ```get_iris_data```, and ```get_telco_data``` functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of ```telco.csv```, ```titanic.csv```, or ```iris.csv```. If they exist, use the ```.csv``` file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a ```.csv``` file with the appropriate name.

#### **Make sure your env.py and csv files are not being pushed to GitHub!**

<div class="alert alert-block alert-warning">
Planning - Acquisition - <font color='red'><b>Preparation</b></font> - Exploratory Analysis - Modeling - Product Delivery
</div>

# Preparation Exercises
The end product of this exercise should be the specified functions in a python script named ```prepare.py```. Do these in your ```classification_exercises.ipynb``` first, then transfer to the ```prepare.py``` file.

This work should all be saved in your local ```classification-exercises``` repo. Then ```add```, ```commit```, and ```push``` your changes.

## Using the ```Iris``` Data:

### 1. Use the function defined in ```acquire.py``` to load the ```iris``` data.

### 2. Drop the ```species_id``` and ```measurement_id``` columns.

### 3. Rename the ```species_name``` column to just species.

### 4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

### 5. Create a function named ```prep_iris``` that accepts the untransformed ```iris``` data, and returns the data with the transformations above applied.

## Using the ```Titanic``` dataset:

### 1. Use the function defined in ```acquire.py``` to load the Titanic data.

### 2. Drop any unnecessary, unhelpful, or duplicated columns.

### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

### 4. Create a function named ```prep_titanic``` that accepts the raw titanic data, and returns the data with the transformations above applied.

## Using the ```Telco``` dataset:

### 1. Use the function defined in ```acquire.py``` to load the ```Telco``` data.

### 2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

### 3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

### 4. Create a function named ```prep_telco``` that accepts the raw ```telco``` data, and returns the data with the transformations above applied.

## Split your data:

### 1. Write a function to split your data into ```train```, ```test``` and ```validate``` datasets. Add this function to ```prepare.py```.

### 2. Run the function in your notebook on the ```Iris``` dataset, returning 3 datasets, ```train_iris```, ```validate_iris``` and ```test_iris```.

### 3. Run the function on the ```Titanic``` dataset, returning 3 datasets, ```train_titanic```, ```validate_titanic``` and ```test_titanic```.

### 4. Run the function on the ```Telco``` dataset, returning 3 datasets, ```train_telco```, ```validate_telco``` and ```test_telco```.

<div class="alert alert-block alert-warning">
Planning - Acquisition - <font color='red'><b>Preparation</b></font> - Exploratory Analysis - Modeling - Product Delivery
</div>

# Tidy Data Exercises
    
Do your work for this exercise in a jupyter notebook or python script named ```tidy_data```. Save this work in your ```classification-exercises``` repo. Add, commit, and push your changes.

### 1. Attendance Data

Read the data from the ```attendance``` table and calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

You should end up with something like this:
```
name
Billy    0.5250
Jane     0.6875
John     0.9125
Sally    0.7625
Name: grade, dtype: float64
```

### 2. Coffee Levels

### a. Read the ```coffee_levels``` table.

### b. Transform the data so that each carafe is in it's own column.

### c. Is this the best shape for the data?

### 3. Cake Recipes

### a. Read the ```cake_recipes``` table. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.

### b. Tidy the data as necessary.

### c. Which recipe, on average, is the best? 
* recipe b

### d. Which oven temperature, on average, produces the best results? 
* 275

### e. Which combination of recipe, rack position, and temperature gives the best result? 
* recipe b, bottom rack, 300 degrees

## 4. **Bonus:** 
### Explore the other tables in the tidy_data database and reshape them as necessary so that they are in a tidy format.

<div class="alert alert-block alert-warning">
Planning - Acquisition - Preparation - <font color='red'><b>Exploratory Analysis</b></font> - Modeling - Product Delivery
</div>

<div class="alert alert-block alert-warning">
Planning - Acquisition - Preparation - <font color='red'><b>Exploratory Analysis</b></font> - Modeling - Product Delivery
</div>

# Exploratory Data Analysis Exercises

## Part I

Continue in your `classification_exercises.ipynb` notebook. As always, add, commit, and push your changes.

**Section 1 - iris_db:** Using ```iris``` data from our mySQL server and the methods used in the lesson above: 

Acquire, prepare & split your data.

<div class="alert alert-info">
<b>Aquire</b>

Acquire ```iris``` data from ```pydataset```
</div>

In [56]:
df_iris = data('iris')
df_iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [126]:
df_iris.shape

(150, 5)

In [57]:
data('iris', show_doc=True)

iris

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Edgar Anderson's Iris Data

### Description

This famous (Fisher's or Anderson's) iris data set gives the measurements in
centimeters of the variables sepal length and width and petal length and
width, respectively, for 50 flowers from each of 3 species of iris. The
species are _Iris setosa_, _versicolor_, and _virginica_.

### Usage

    iris
    iris3

### Format

`iris` is a data frame with 150 cases (rows) and 5 variables (columns) named
`Sepal.Length`, `Sepal.Width`, `Petal.Length`, `Petal.Width`, and `Species`.

`iris3` gives the same data arranged as a 3-dimensional array of size 50 by 4
by 3, as represented by S-PLUS. The first dimension gives the case number
within the species subsample, the second the measurements with names `Sepal
L.`, `Sepal W.`, `Petal L.`, and `Petal W.`, and the third the species.

### Source

Fisher, R. A. (1936) The use of multiple measurements in taxonomic problems.
_Annals of Eugenics_, **7**, Part II, 179–188.

The data were collected by Anderson, Edgar (1935). The irises of the Gaspe
Peninsula, _Bulletin of the American Iris Society_, **59**, 2–5.

### References

Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S Language_.
Wadsworth & Brooks/Cole. (has `iris3` as `iris`.)

### See Also

`matplot` some examples of which use `iris`.

### Examples

    dni3 <- dimnames(iris3)
    ii <- data.frame(matrix(aperm(iris3, c(1,3,2)), ncol = 4,
                            dimnames = list(NULL, sub(" L.",".Length",
                                            sub(" W.",".Width", dni3[[2]])))),
        Species = gl(3, 50, labels = sub("S", "s", sub("V", "v", dni3[[3]]))))
    all.equal(ii, iris) # TRUE

In [58]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [104]:
column_list = df_iris.columns
column_list

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [119]:
df_iris.

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
14            4.3          3.0           1.1          0.1      setosa
43            4.4          3.2           1.3          0.2      setosa
39            4.4          3.0           1.3          0.2      setosa
9             4.4          2.9           1.4          0.2      setosa
42            4.5          2.3           1.3          0.3      setosa
23            4.6          3.6           1.0          0.2      setosa
4             4.6          3.1           1.5          0.2      setosa
7             4.6          3.4           1.4          0.3      setosa
48            4.6          3.2           1.4          0.2      setosa
3             4.7          3.2           1.3          0.2      setosa
30            4.7          3.2           1.6          0.2      setosa
13            4.8          3.0           1.4          0.1      setosa
46            4.8          3.0           1.4          0.3      setosa
25            4.8          3.4           1.9          0.2      setosa
12            4.8          3.4           1.6          0.2      setosa
31            4.8          3.1           1.6          0.2      setosa
58            4.9          2.4           3.3          1.0  versicolor
107           4.9          2.5           4.5          1.7   virginica
35            4.9          3.1           1.5          0.2      setosa
10            4.9          3.1           1.5          0.1      setosa
38            4.9          3.6           1.4          0.1      setosa
2             4.9          3.0           1.4          0.2      setosa
41            5.0          3.5           1.3          0.3      setosa
27            5.0          3.4           1.6          0.4      setosa
50            5.0          3.3           1.4          0.2      setosa
36            5.0          3.2           1.2          0.2      setosa
44            5.0          3.5           1.6          0.6      setosa
61            5.0          2.0           3.5          1.0  versicolor
8             5.0          3.4           1.5          0.2      setosa
94            5.0          2.3           3.3          1.0  versicolor
5             5.0          3.6           1.4          0.2      setosa
26            5.0          3.0           1.6          0.2      setosa
45            5.1          3.8           1.9          0.4      setosa
47            5.1          3.8           1.6          0.2      setosa
99            5.1          2.5           3.0          1.1  versicolor
1             5.1          3.5           1.4          0.2      setosa
40            5.1          3.4           1.5          0.2      setosa
18            5.1          3.5           1.4          0.3      setosa
24            5.1          3.3           1.7          0.5      setosa
22            5.1          3.7           1.5          0.4      setosa
20            5.1          3.8           1.5          0.3      setosa
33            5.2          4.1           1.5          0.1      setosa
29            5.2          3.4           1.4          0.2      setosa
28            5.2          3.5           1.5          0.2      setosa
60            5.2          2.7           3.9          1.4  versicolor
49            5.3          3.7           1.5          0.2      setosa
85            5.4          3.0           4.5          1.5  versicolor
6             5.4          3.9           1.7          0.4      setosa
21            5.4          3.4           1.7          0.2      setosa
32            5.4          3.4           1.5          0.4      setosa
11            5.4          3.7           1.5          0.2      setosa
17            5.4          3.9           1.3          0.4      setosa
37            5.5          3.5           1.3          0.2      setosa
91            5.5          2.6           4.4          1.2  versicolor
34            5.5          4.2           1.4          0.2      setosa
54            5.5          2.3           4.0          1.3  versicolor
82            5.5          2.4           3.7          1.0  versicolor
81            5.5          2.4           3.8          1.1  versicolor
90            5.5          2.5           4.0          1.3  versicolor
89            5.6          3.0           4.1          1.3  versicolor
122           5.6          2.8           4.9          2.0   virginica
67            5.6          3.0           4.5          1.5  versicolor
70            5.6          2.5           3.9          1.1  versicolor
95            5.6          2.7           4.2          1.3  versicolor
65            5.6          2.9           3.6          1.3  versicolor
80            5.7          2.6           3.5          1.0  versicolor
97            5.7          2.9           4.2          1.3  versicolor
100           5.7          2.8           4.1          1.3  versicolor
16            5.7          4.4           1.5          0.4      setosa
56            5.7          2.8           4.5          1.3  versicolor
114           5.7          2.5           5.0          2.0   virginica
19            5.7          3.8           1.7          0.3      setosa
96            5.7          3.0           4.2          1.2  versicolor
68            5.8          2.7           4.1          1.0  versicolor
15            5.8          4.0           1.2          0.2      setosa
93            5.8          2.6           4.0          1.2  versicolor
115           5.8          2.8           5.1          2.4   virginica
143           5.8          2.7           5.1          1.9   virginica
83            5.8          2.7           3.9          1.2  versicolor
102           5.8          2.7           5.1          1.9   virginica
150           5.9          3.0           5.1          1.8   virginica
62            5.9          3.0           4.2          1.5  versicolor
71            5.9          3.2           4.8          1.8  versicolor
79            6.0          2.9           4.5          1.5  versicolor
84            6.0          2.7           5.1          1.6  versicolor
139           6.0          3.0           4.8          1.8   virginica
86            6.0          3.4           4.5          1.6  versicolor
63            6.0          2.2           4.0          1.0  versicolor
120           6.0          2.2           5.0          1.5   virginica
128           6.1          3.0           4.9          1.8   virginica
135           6.1          2.6           5.6          1.4   virginica
72            6.1          2.8           4.0          1.3  versicolor
64            6.1          2.9           4.7          1.4  versicolor
74            6.1          2.8           4.7          1.2  versicolor
92            6.1          3.0           4.6          1.4  versicolor
69            6.2          2.2           4.5          1.5  versicolor
98            6.2          2.9           4.3          1.3  versicolor
149           6.2          3.4           5.4          2.3   virginica
127           6.2          2.8           4.8          1.8   virginica
73            6.3          2.5           4.9          1.5  versicolor
124           6.3          2.7           4.9          1.8   virginica
147           6.3          2.5           5.0          1.9   virginica
57            6.3          3.3           4.7          1.6  versicolor
134           6.3          2.8           5.1          1.5   virginica
101           6.3          3.3           6.0          2.5   virginica
88            6.3          2.3           4.4          1.3  versicolor
137           6.3          3.4           5.6          2.4   virginica
104           6.3          2.9           5.6          1.8   virginica
133           6.4          2.8           5.6          2.2   virginica
129           6.4          2.8           5.6          2.1   virginica
138           6.4          3.1           5.5          1.8   virginica
52            6.4          3.2           4.5          1.5  versicolor
116           6.4          3.2           5.3          2.3   virginica
75            6.4          2.9           4.3          1.3  versicolor
112           6.4          2.7           5.3          1.9   virginica
105           6.5          3.0           5.8          2.2   virginica
117           6.5          3.0           5.5          1.8   virginica
148           6.5          3.0           5.2          2.0   virginica
55            6.5          2.8           4.6          1.5  versicolor
111           6.5          3.2           5.1          2.0   virginica
59            6.6          2.9           4.6          1.3  versicolor
76            6.6          3.0           4.4          1.4  versicolor
87            6.7          3.1           4.7          1.5  versicolor
141           6.7          3.1           5.6          2.4   virginica
109           6.7          2.5           5.8          1.8   virginica
78            6.7          3.0           5.0          1.7  versicolor
66            6.7          3.1           4.4          1.4  versicolor
145           6.7          3.3           5.7          2.5   virginica
146           6.7          3.0           5.2          2.3   virginica
125           6.7          3.3           5.7          2.1   virginica
144           6.8          3.2           5.9          2.3   virginica
77            6.8          2.8           4.8          1.4  versicolor
113           6.8          3.0           5.5          2.1   virginica
140           6.9          3.1           5.4          2.1   virginica
142           6.9          3.1           5.1          2.3   virginica
53            6.9          3.1           4.9          1.5  versicolor
121           6.9          3.2           5.7          2.3   virginica
51            7.0          3.2           4.7          1.4  versicolor
103           7.1          3.0           5.9          2.1   virginica
130           7.2          3.0           5.8          1.6   virginica
126           7.2          3.2           6.0          1.8   virginica
110           7.2          3.6           6.1          2.5   virginica
108           7.3          2.9           6.3          1.8   virginica
131           7.4          2.8           6.1          1.9   virginica
106           7.6          3.0           6.6          2.1   virginica
123           7.7          2.8           6.7          2.0   virginica
119           7.7          2.6           6.9          2.3   virginica
118           7.7          3.8           6.7          2.2   virginica
136           7.7          3.0           6.1          2.3   virginica
132           7.9          3.8           6.4          2.0   virginica

In [139]:
# Potential Duplicate records (the diference rows in value_counts.shape vs rows in .shape will be duplicate rows)
print(df_iris.shape)
print(df_iris[column_list].value_counts().shape)
print('')
print(df_iris[column_list].value_counts().head(1))

(150, 5)
(149,)

Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
5.8           2.7          5.1           1.9          virginica    2
dtype: int64

In [60]:
df_iris.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Sepal.Length,150.0,NaN,NaN,NaN,5.843333,0.828066,4.3,5.1,5.8,6.4,7.9
Sepal.Width,150.0,NaN,NaN,NaN,3.057333,0.435866,2.0,2.8,3.0,3.3,4.4
Petal.Length,150.0,NaN,NaN,NaN,3.758,1.765298,1.0,1.6,4.35,5.1,6.9
Petal.Width,150.0,NaN,NaN,NaN,1.199333,0.762238,0.1,0.3,1.3,1.8,2.5
Species,150,3,setosa,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df_iris.Species.unique()#.tolist()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [106]:
df_iris['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

<div class="alert alert-info">
<b>Prepare</b>

<b>Check Headers format (no spaces, no dots, nor reserved words)</b>
- <b>FIX</b> Replace '.' with '_' in column heads

<b>Check Dtypes to ensure they match data held in fields</b>    
- <b>GOOD</b> all Dtypes are appropriate to data type
    
<b>Check data in fields for Nan/Null, empty ' ', format, duplicated uniques, double data, etc</b>    
- <b>GOOD</b> no inconsistencies exist

<b>FURTHER RESEARCH QUESTIONS</b> 

- <b>GOOD</b> None at the moment, data is fairly clean for ```iris``` database
</div>

In [122]:
df_iris.rename(columns={'Sepal.Length': 'Sepal_Length',
                        'Sepal.Width': 'Sepal_Width',
                        'Petal.Length': 'Petal_Length',
                        'Petal.Width': 'Petal_Width',
                        }, inplace=True)
df_iris.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [123]:
column_list = df_iris.columns
column_list

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

<div class="alert alert-info">
<b>SPLIT</b>

Split ```iris``` data from ```pydataset``` into ```Train```, ```Validate```, and ```Test```.
</div>

In [ ]:
def split_iris_data(df):
    '''
    take in a DataFrame and return train, validate, and test DataFrames; stratify on species.
    return train, validate, test DataFrames.
    '''
    
    # splits df into train_validate and test using train_test_split() stratifying on species to get an even mix of each species
    train_validate, test = train_test_split(df, test_size=.2, random_state=123, stratify=df.species)
    
    # splits train_validate into train and validate using train_test_split() stratifying on species to get an even mix of each species
    train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123, 
                                       stratify=train_validate.species)
    return train, validate, test

In [ ]:
train, validate, test = split_iris_data(df)

### 1. Univariate Stats

### 1.1 For each measurement type (quantitative variable): create a histogram, boxplot, & compute descriptive statistics (using .describe()).

### 1.2 For each species (categorical variable): create a frequency table and a bar plot of those frequencies.

### 1.3 Document takeaways & any actions.

### 2. Bivariate Stats

### 2.1 Visualize each measurement type (y-axis) with the species variable (x-axis) using barplots, adding a horizontal line showing the overall mean of the metric (y-axis).

### 2.2 For each measurement type, compute the descriptive statistics for each species.

### 2.3 For virginica & versicolor: Compare the mean petal_width using the Mann-Whitney test (scipy.stats.mannwhitneyu) to see if there is a significant difference between the two groups. Do the same for the other measurement types.

### 2.4 Document takeaways & any actions.

### 3. Multivariate Stats

### 3.1 Visualize the interaction of each measurement type with the others using a pairplot (or scatter matrix or something similar) and add color to represent species.

### 3.2 Visualize two numeric variables by means of the species. Hint: `sns.relplot` with `hue` or `col`

### 3.3 Create a swarmplot using a melted dataframe of all your numeric variables. The x-axis should be the variable name, the y-axis the measure. Add another dimension using color to represent species. Document takeaways from this visualization.

### 3.4 Ask a specific question of the data, such as: is the sepal area signficantly different in virginica compared to setosa? Answer the question through both a plot and using a mann-whitney or t-test. If you use a t-test, be sure assumptions are met (independence, normality, equal variance).

### 3.5 Document takeaways and any actions.

### Part II

Explore your `titanic` dataset more completely.

- Determine drivers of the target variable
- Determine if certain columns should be dropped
- Determine if it would be valuable to bin some numeric columns
- Determine if it would be valuable to combine multiple columns into one.

Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.

### Part III

- Explore your `telco` data to discover drivers of churn
- Determine if certain columns should be dropped
- Determine if it would be valuable to bin some numeric columns
- Determine if it would be valuable to combine multiple columns into one.

What are your drivers of churn?

Does it make sense to combine any features?

Do you find any surprises?

Document any and all findings and takeaways in your notebook using markdown.